<div class="row">
  <div class="col-12">
    Password UI!<br/>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="your name"><br />
    <button type="button" class="btn btn-primary">
      Button
    </button>
    <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
      {{ alert?.msg }}
    </alert>
    <alert dismissOnTimeout="3000">This alert will dismiss in 3s</alert>
    <button type="button" class='btn btn-primary' (click)="addAlert()"><span class="glyphicon glyphicon-plus"></span> Add Alert</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    One of three columns
  </div>
  <div class="col-sm-4">
    One of three columns
  </div>
  <div class="col-sm-4">
    One of three columns
  </div>
</div>
